body {
    padding-top: 56px; /* Adjust based on your navbar height */
    background-color: rgb(235, 241, 235);
    background-repeat: repeat;
}






.btn-success {
    background-color: darkgreen;
    color: white;
    /* Add any other styles you need for the buttons */
}

h2 {
    background-color: darkgreen;
    color: white;
    padding: 20px; /* Increase padding for a bigger header */
    margin-bottom: 20px; /* Adjust margin as needed */
}

/* Add z-index to navbar */
nav {
    z-index: 1000;
}

/* Style for the return button */
.return-button {
    background-color: darkgreen;
    color: white;
    position: fixed;
    top: 56px; /* Adjust based on your navbar height */
    left: 0;
    margin: 10px;
    z-index: 1001;
}
.content-container {
    background-color: rgba(255, 255, 255, 0);
    padding: 40px;
    border-radius: 10px;
    position: relative;
    top: 70px;
    z-index: 1;
    min-height: 80vh; /* Adjust the minimum height based on your requirements */
    overflow-y: auto;
}

.card-details {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 30px;
    overflow: hidden;
    min-height: 75vh; /* Adjust the minimum height based on your requirements */
}



/* Style for the edit button */
.btn-edit {
    background-color: darkgreen;
    color: white;
}

.btn-dark-green {
    background-color: darkgreen;
    color: white;
}
