<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Denied</title>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="/css/error.css" th:href="@{/css/error.css}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 50px;
        }

        .card {
            border: none;
        }

        .card-header {
            background-color: #343a40;
            color: #ffffff;
        }
    </style>
</head>

<body>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>Access Denied!</h4>
        </div>
        <div class="card-body">
            <p class="card-text">You do not have permission to access this resource.</p>
            <hr>
            <p class="card-text">Please contact the administrator for assistance.</p>
        </div>
        <a href="/index" class="btn btn-darkgreen">Return to Home Page</a>
    </div>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
